<!DOCTYPE html>
<html lang="en">
<%- include("../compo/head") -%>
<div class="modal fade" id="loginSuccessModal" tabindex="-1" aria-labelledby="loginSuccessModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content bg-gradient-primary text-white d-flex flex-row">
		<div class="modal-body d-flex justify-content-center align-items-center fs-6 text-danger">
			<%= categoryerror %><span class="text-danger border border-2 border-danger px-2 rounded-pill ms-1">&#10003;</span>
		</div>
		<div class="modal-header border-0">
			<button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
	  </div>
	</div>
  </div>
<body>

     <!-- [ navigation menu ] start -->
	<%- include("../compo/sidebar") -%>
	<!-- [ navigation menu ] end -->

	<!-- [ Header ] start -->
	<%- include("../compo/header") -%>
	<!-- [ Header ] end -->

    <div class="pcoded-main-container">
		<div class="pcoded-wrapper">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">
					<div class="main-body">
						<div class="page-wrapper">
							<div class="page-header">
								<div class="page-block">
									<div class="row align-items-center justify-content-center">
										<div class="col-md-8">
                                            <form action="/categoryAdd" method="post">
                                                <div class="form-group mb-3">
                                                    <label for="category" class="text-black">Add Category :-</label>
                                                    <input type="text" class="form-control" id="category" name="category" placeholder="Enter Your Category">
                                                </div>
                                                <button class="btn btn-primary">Save Category</button>
                                            </form>
                                        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


    <%- include("../compo/footer") -%> 
	<script> 
		const categoryerror = '<%= categoryerror %>';
		if (categoryerror.length > 0) {
		  window.addEventListener('DOMContentLoaded', () => {
			const modal = new bootstrap.Modal(document.getElementById('loginSuccessModal'));
			modal.show();
		  });
		}
	</script>   
</body>
</html>